Source: missionplanner
Section: science
Priority: extra
Maintainer: Mission Planner Developers <stephen_dade@hotmail.com>
Vcs-Git: git://git.github.org/diydrones/MissionPlanner.git
Build-Depends: debhelper, xvfb
Homepage: https://github.com/diydrones/MissionPlanner
Standards-Version: 3.9.4

Package: missionplanner
Architecture: all
Depends: gnome-icon-theme (>= 1.1.3), mono-runtime-sgen, mono-runtime (>= 3.0~), libc6 (>= 2.13) | libc6.1 (>= 2.13) | libc0.1 (>= 2.13), libmono-system-configuration4.0-cil (>= 4.0.0~alpha1), libmono-system-data4.0-cil (>= 4.0.0~alpha1), libmono-system-windows-forms4.0-cil (>= 1.0), libmono-system4.0-cil (>= 4.0.0~alpha1), libmono-system-xml-linq4.0-cil (>= 4.0.0~alpha1), libmono-system-web4.0-cil (>= 4.0.0~alpha1), festival
Description: Ground station software for autonomous vehicles.
 A GUI ground control station for autonomous vehicles 
 using the MAVLink protocol.
 Includes support for the APM and PX4 based controllers.
 .
 You will need a fairly recent version of mono. You can download the most
 recent version here: 
 http://www.mono-project.com/docs/getting-started/install/linux/

